@font-face {
  font-family: 'Gotham';
  src: local('Gotham'), url(./assets/fonts/GothamMedium.ttf) format('truetype');
}

html {
  /* 10px */
  font-size: 62.5%;
}

body {
  /* 16px */
  font-size: 1.6rem;
}

.borderdText {
  -webkit-text-fill-color: transparent !important;
  -webkit-text-stroke-width: 1px !important;
  -webkit-text-stroke-color: rgba(0, 0, 0, 1) !important;
}


.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 30px !important;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedStart.css-8j6b76-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 30px !important;
}